.lolo{
 
}

.left-side{
 
background-color: rgb(145, 145, 145);
height: 775px;
margin-top: 80px;
width: 200px;
position: fixed;
left: -180px; 
top: 0;
bottom: 0;
 

transition: left 0.3s;
}

.left-side:hover{
  left: 0; 

}






.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  border-radius: 50%;
  border: 2px solid gray;
  outline: none;
  transition: all 0.3s;
}

input[type="checkbox"]:checked {
  background-color: rgb(204, 136, 0);
}

label {
  font-size: 16px;
}