.lolo{
 
}

.left-side{
 
background-color: rgb(145, 145, 145);
height: 775px;
margin-top: 80px;
width: 200px;
position: fixed;
left: -180px; 
top: 0;
bottom: 0;
 

transition: left 0.3s;
}

.left-side:hover{
  left: 0; 

}






