*{
  font-family:sans-serif; 
  font-size: 15px;
}
a {

  text-decoration: none;
  margin: 0px;
  color: aliceblue;
}

h5{
  margin:5px 0px;
  
}

h4{
  margin:5px 0px;
  color: white;
  
}

.follow_us a {
  font-size:small;
  font-family:sans-serif; 
  font-size: 15px;
}
.follow_us a:hover {
color: brown;
}
.follow_us img{
  height: 15px;
  width: 15px;
  
}

.footer{
  position: absolute;
  bottom: 0px;
  display: flex;
  text-align: start;
  justify-content:space-around;
  flex-direction: row;
  background-color: rgb(61, 61, 61);
  width:100%;
  
}
