

.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  display: flex;
  /* align-content: space-between; */
}

.main .lAside{
  flex: 3;
  background-color: red;
}


.homee{
  background-color: brown;

}


.Home-Page{
  position: fixed; 
  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50%);
}
